* {
  box-sizing: border-box;
}
 body{
   padding-top:3rem;
   position: relative;
 }

    h2{
      font-family: 'Quicksand', sans-serif;
    }
h3,h6,p{
  font-weight:300;
  font-family: 'Kumbh Sans', sans-serif;
}

h1{
    font-size:6rem;
    line-height:5.5rem;
    }
h2{
  font-size:3.5rem;
  }
h3{
  font-size:2rem;
  }



.social-icons a{
  display:inline-block;
  height:3.5rem;
  width:3.5rem;
  color: #3e6060!important;
  border-radius:100%;
  text-align:center;
  font-size:1.5rem;
  line-height:3.5rem;
  margin-right:1rem;
  margin-bottom: .5rem;
  }
.social-icons a:last-child{
  margin-right:0;
  }
.social-icons a:hover{
  background-color:#3e6060!important;
  }

#sideNav .navbar-nav .nav-item .nav-link{
  font-weight:400;
  letter-spacing:.05rem;
  font-family: 'Quicksand', sans-serif;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(33, 33, 33);
    padding-bottom: 2rem;
    font-family: 'Quicksand', sans-serif;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #3e6060;
}
#sideNav .navbar-toggler:focus{
  outline-color:#d9d9d9;}


      .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #70b2b2;
    font-family: 'Quicksand', sans-serif;
}
      .bg-primary{
        background-color:#d9d9d9!important;
        }

        body{
          padding-top:3rem;
          color:white;
        }

           h2{
             font-family: 'Quicksand', sans-serif;
           }
       h3,h6,p{
         font-weight:300;
         font-family: 'Kumbh Sans', sans-serif;
       }


       h2{
         font-size:3.5rem;
         }
       h3{
         font-size:2rem;
         }

       .social-icons a{

         text-align:center;
         font-size:1.5rem;
         line-height:3.5rem;
         margin-right:.5rem;
         }


       #sideNav .navbar-nav .nav-item .nav-link{
         font-weight:400;
         letter-spacing:.05rem;
         font-family: 'Quicksand', sans-serif;
         }
         .navbar-dark .navbar-nav .nav-link {
           color: rgb(33, 33, 33);
           padding-bottom: 2rem;
           font-family: 'Quicksand', sans-serif;
       }
       .navbar-dark .navbar-nav .nav-link:hover {
         color: #3e6060;
       }
       #sideNav .navbar-toggler:focus{
         outline-color:#d9d9d9;}


             .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
           color: #70b2b2;
           font-family: 'Quicksand', sans-serif;
       }
             .bg-primary{
               background-color:#d9d9d9!important;
               }


           .imgfront{
             height: 30rem;
             margin-top: 3rem;
             margin-left: 5rem;
             position: absolute;
             z-index: -20;
           }

           .card-body{
             position: absolute;
             margin-left: 5.5rem;
             z-index: 20;
             margin-top: 30.5rem;
             background-color: #3e6060;
             -webkit-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
       -moz-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
       box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
             border-radius: 1rem;
             width: 14rem;
             text-align: center;
           }
           .card-title{
             color: white;
             font-weight: 400;
             font-family: 'Quicksand', sans-serif;
             margin-bottom: 0;
           }

           .contacts{
             position: absolute;
             margin-left: 4rem;
             padding-top: 37rem;
           }
           .social-icons a {
           display: inline-block;
           width: 3.5rem;
           color: #3e6060!important;
           border-radius: .7rem;
           box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
       }

           .social-icons a:hover{
             color: white!important;
           }
           .contacts a{
             background-color: white;
           }
           .contacts a:hover{
             background-color: #3c6060;
       }
       #home{
         height: 38rem;
         position: relative;
       }
           #experience{
             position: relative;
             padding-left: 1rem;
             padding-right: 1rem;
             padding-top: 4rem;
           }
           #experience h2{
             color: #3e6060;
             padding-bottom: 0rem;
           }
           .experiences{
             background-color: #63adae;
             border-radius: 3rem;
             padding-left: 2rem;
             padding-right: 2rem;
             padding-top: 2rem;
             margin-top: 2rem;
             padding-bottom: 2rem;
             -webkit-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
             -moz-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
             box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);

           }
           #project{
             position: relative;
             padding-top: 2rem;
             padding-left: 1rem;
             padding-right: 1rem;
           }
           #project h2{
             color: #63adae;
             padding-bottom: 0rem;
           }


       #resume{
         position: relative;
         padding-top: 2rem;

       }

         .resumepic{
           height: 30rem;
           }
    .downloads{
      margin-left: 9rem;
      position: relative;
    }

       #resume h2{
         color: #3e6060;
         padding-bottom: 0rem;
         padding-top: 2rem;
       }

       #contact{
         position: relative;
         margin-top: 5rem;
         margin-left: 1rem;
         margin-bottom: 3rem;
    margin-right: 1rem;
       }

       .contactpic{
         height: 12rem;
         transform: rotate(350deg);
         -webkit-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
         -moz-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
         box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
       }

       #contact h2{
         color: #122c34;
         padding-top: 5rem;
       }
       #contact h5{
         color: #3e6060;
         font-family: 'Kumbh Sans', sans-serif;

       }
       #contact p{
         color: #3e6060;
         font-family: 'Kumbh Sans', sans-serif;

       }

       .contacts2{
         position: absolute;
         margin-left: 5rem;
         padding-top: 7rem;
       }
       .contacts2 a{
         margin-bottom: .5rem;
       }
       .card{
         position: relative;
         box-shadow: none;
         background: none;
         transform: translateZ(0);
       }
       .card-side {
         height: 35rem;
         border-radius: 15px;
         backface-visibility: hidden;
         -webkit-backface-visibility: hidden;
         position: absolute;
         top: 0;
         left: 0;
         width: 80%;
         padding:0rem;
         color: white;
       }

       .card-side.back {
         transform: rotateY(-180deg);
       }
       .typingtext {
       display: flex;
       align-items: center;
       justify-content: center;
     }

     .typing {
       width: 11ch;
       animation: typing 2s steps(22) infinite alternate, blink .5s step-end infinite alternate;
       white-space: nowrap;
       overflow: hidden;
       border-right: .3rem solid;
       font-size: 1.5em;
     }

     @keyframes typing {
       from {
         width: 0
       }
     }

     @keyframes blink {
       50% {
         border-color: transparent
       }
     }

     #experienceTitle h2{
       color: #122c34;
       padding-top: 5rem;
       text-align: center;
     }

     #experience{
       position:relative;
       margin:0 auto;
       width:100%;
       padding-top: 1rem;
     }
     .slideIn {
       transform: translateX(9rem);
       animation: slideIn 0.8s ease forwards;
     }
     .slideIn:nth-child(odd) {
       animation-duration: 0.6s;
     }

     @keyframes slideIn {
       to { transform: translateY(0); }
     }

     #experience:before{
       content:'';
       position:absolute;
       right:95%;
       width:.1rem;
       height:100%;
       background-color:#c5c5c5;
     }
     #experience ul{
       padding:0;
     }
     #experience ul li{
       position:relative;
       width:100%;
       padding:1.5rem 1.5rem;
     }
     #experience ul li:nth-child(odd){
       text-align:right;
       clear:both;
     }
     #experience ul li:nth-child(even){
       float:right;
     }
     .experienceDescription{
       color: #122c34;
       margin-top: 2rem;
     }
     #experience ul li:nth-child(odd):before
     {
       content:'';
       position:absolute;
       width:1rem;
       height:1rem;
       right:1.5rem;
       background-color:#006d77;
       border-radius:50%;
     }
     #experience ul li:nth-child(even):before
     {
       content:'';
       position:absolute;
       width:1rem;
       height:1rem;
       right:1.5rem;
       background-color:#006d77;
       border-radius:50%;

     }
     #experience ul li h3{
       color:#006d77;
       font-weight:500;
     }
     #experience ul li .experienceDate h4{
       margin:0;
       font-size:.88rem;
     }
     #experience ul li:nth-child(odd) .experienceDate
     {
       position:absolute;
       top:1rem;
       right:0rem;
       left:0rem;
       padding:.5rem 1rem;
       background-color:#122c34;
       color:#fff;
       border-radius:1rem;
       box-shadow:.125rem .25rem .3rem rgba(0, 0, 0, 0.3);
     }
     #experience ul li:nth-child(even) .experienceDate
     {
       position:absolute;
       top:1rem;
       left:0rem;
       right:0rem;
       padding:.5rem 1rem;
       background-color:#122c34;
       color:#fff;
       border-radius:1rem;
       box-shadow:.125rem .25rem .3rem rgba(0, 0, 0, 0.3);
     }

     #projectTitle h2{
       color: #122c34;
       padding-top: 5rem;
       text-align: center;
     }

     .panel {
       background-position: bottom;
       background-size: contain;
       background-repeat: no-repeat;
       height: 70vh;
       border-radius: 15px;
       color: #3e6060;
       cursor: pointer;
       flex: 0.5;
       margin: 1rem;
       position: relative;
       -webkit-transition: all 700ms ease-in;
       border-radius: 1rem;
       padding-left: 2rem;
       padding-right: 2rem;
       padding-top: 2rem;
       margin-top: 2rem;
       -webkit-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
       -moz-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
       box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
     }
     .welcomeMessage{
       height: 0rem;
       margin-top: 3rem;
       margin-left: 5rem;
       position: absolute;
       z-index: -20;
     }
@media (min-width:992px){
  body{
    padding-top:0;
    padding-left:17rem;
  }
    #sideNav{
      text-align:center;
      position:fixed;
      display:flex;
      flex-direction:column;
      width:17rem;
      height:100vh;
      }
    #sideNav .navbar-brand{
      display:flex;
      padding:1.5rem;
      }
    #sideNav .navbar-brand .img-profile{
      max-width:10rem;
      max-height:10rem;
      border:.5rem solid rgba(255,255,255,.2);
      }
    #sideNav .navbar-collapse{
      display:flex;
      align-items:flex-start;
      flex-grow:0;
      width:100%;
      margin-bottom:auto;
      }
    #sideNav .navbar-collapse .navbar-nav{
      flex-direction:column;
      width:100%;
      }
    #sideNav .navbar-collapse .navbar-nav .nav-item{
      display:block;}
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link{
      display:block;
      font-family: 'Quicksand', sans-serif;
    }

    .card-side {
      height: 45rem;
      transition: all 0.8s ease;
      padding:2rem;
      transform-style: preserve-3d;
      perspective: 1000px;
    }

    .card:hover .card-side.front {
      transform: rotateY(180deg);
    }

    .card:hover .card-side.back {
      transform: rotateY(0deg);
    }

  .welcomeMessage{
    height: 40rem;
    margin-top: 3rem;
    margin-left: 5rem;
    position: absolute;
    z-index: -20;
  }
    .imgfront{
      height: 40rem;
      margin-top: 4rem;
      margin-left: 18vh;
    }

    .card-body{
      margin-top: 39.5rem;
      margin-left: 20rem;
    }

    #experience{
      width:90%;    }

    #experience:before{
      left:50%;
    }

    #experience ul li{
      width:50%;
    }
    .experienceDescription{
      margin-top: 0;
    }
    #experience ul li:nth-child(odd):before
    {
      right:-.55rem;
    }
    #experience ul li:nth-child(even):before
    {
      left:-.45rem;

    }

    #experience ul li:nth-child(odd) .experienceDate
    {
      position: absolute;
      width: 15rem;
      right: -34rem;
      left:34rem;
    }
    #experience ul li:nth-child(even) .experienceDate
    {
      position: absolute;
      width: 15rem;
      right: 17rem;
      left:-17rem;
    }

    .container{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80vh;
      margin-top: 1rem;
      width: 90vw;
    }

    .panel:hover {
      flex: 1.2;
    }

    .panel.hover h3 {
      opacity: 1;
      transition: opacity 0.3s ease-in 0.6s;
    }
    .contacts{
      position: absolute;
      margin-left: 55rem;
      padding-top: 30rem;
    }
    #project{
      position: relative;
      /* margin-top: 95rem; */
      padding-top: 4rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    #resume{
      position: relative;
padding-left: 1rem;
    }
    .resumepic{
      height: 50rem;
      padding-left: 15rem;}
      .downloads{
        margin-left: 50rem;
        position: relative;
      }

      #contact{
        position: relative;
        margin-left: 1.5rem;
        margin-bottom: 11rem;
      }
      .contactpic{
        height: 20rem;
        transform: rotate(350deg);
        margin-bottom: 12rem;
        margin-top: 10rem;
        -webkit-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
        -moz-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
        box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
        position: absolute;
        z-index: -20;
      }
      #contact h2{
        color: #122c34;
        padding-top: 5rem;
        padding-left: 42rem;
        padding-bottom: 0rem;
        padding-right: 2rem;
      }
      #contact h5{
        color: #3e6060;
        padding-left: 42rem;
        padding-bottom: 0rem;
        padding-right: 2rem;
        font-family: 'Kumbh Sans', sans-serif;

      }
      #contact p{
        color: #3e6060;
        padding-left: 42rem;
        padding-bottom: 0rem;
        padding-right: 2rem;
        font-family: 'Kumbh Sans', sans-serif;

      }
      .contacts2{
        position: absolute;
        margin-left: 44rem;
        padding-top: 10rem;
      }
      .contacts2 a{
        margin-bottom: .3rem;
      }
      #project h2{
        color: #63adae;
        padding-left: 2rem;

      }
      #experience h2{
        color: #3e6060;
        padding-left: 2rem;
        padding-bottom: 0rem;
      }


      #resume h2{
        color: #3e6060;
        padding-left: 2rem;
        padding-bottom: 2rem;
        padding-top: 2rem;


      }
      #home{
        color: white;
        position: relative;
        height: 48rem;
        padding-left: 11rem;
      }
    }
    @media screen and (orientation: landscape) and (max-width:992px) {
      #home{
        padding-left: 12rem;
        position: relative;
        height: 48rem;
      }
      #project{
        position: relative;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      #resume{
        position: relative;

      }
      .resumepic{
        height: 35rem;
        padding-left: 12rem;
        }
        .downloads{
          margin-left: 24rem;
          position: relative;
        }
        #contact{
          position: relative;
          padding-left: 1rem;
     padding-right: 1rem;
        }

        .contactpic{
          height: 15rem;
          transform: rotate(350deg);
          -webkit-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
          -moz-box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
          box-shadow: 0px 4px 7px 0px rgba(54,54,54,1);
          margin-left: 12rem;
        }
        .contacts2{
          position: absolute;
          margin-left: 15rem;
          padding-top: 7rem;
        }
    }
